<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QLSV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <QLSV.Properties.Settings>
            <setting name="KeyDB" serializeAs="String">
                <value>Data Source=DESKTOP-9OR80U7\SQLEXPRESS;Initial Catalog=QLSV_NHOM6;Integrated Security=True</value>
            </setting>
            <setting name="TK" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="MK" serializeAs="String">
                <value>123</value>
            </setting>
        </QLSV.Properties.Settings>
    </userSettings>
</configuration>